table {
  border-collapse: collapse;
  text-align: center;
}
table, th, td {
  padding: 5px;
  border: 1px solid gray;
}

#piechart_3d, #barchart {
  width: 500px;
  height: 300px;
  display: table-cell;
}
